footer
  .features-section
    // Section avec 4 icônes et du texte en dessous
    .feature
        i.fa.fa-truck
        p LIVRAISON RAPIDE
    .feature
        i.fa.fa-unlock-alt
        p PAIEMENT SECURISE
    .feature
        i.fa.fa-repeat
        p ECHANGE/ RETOUR
    .feature
        i.fa.fa-phone
        p SERVICE CLIENT
  .footer-section
    .newsletter
        h2 Inscrivez-vous à notre newsletter
        p Recevez les dernières actualités et offres spéciales directement dans votre boîte de réception.
        form(action="#", method="post")
        input(type="email", placeholder="Votre adresse e-mail", required)
        button(type="submit")
  .footer-bottom
    p © 2024 GigaGearEmporium. Tous droits réservés.
