include header.pug

main.main-content
  img.home-img(src="/img/index.jpg", alt="image-d-acceuil")
  h1 Bienvenue chez GigaGear Emporium - Votre Destination Ultime pour le Matériel Informatique
  h2 Découvrez le Monde du High-Tech avec GigaGear Emporium
  p Chez GigaGear Emporium, nous comprenons votre passion pour la technologie de pointe. Notre boutique est le paradis des technophiles, offrant une vaste gamme de PC, claviers, souris, écrans et bien plus encore. Que vous soyez un gamer invétéré, un professionnel créatif, ou simplement un amateur de technologie, notre sélection méticuleuse répondra à tous vos besoins.

include footer.pug