include header.pug

main.main-content
  .order-success-message
    h2 Commande réussie !
    p Merci pour votre achat. Votre commande a été passée avec succès et sera traitée rapidement.
    a.order-home-button(href="/") Retour à l'accueil

include footer.pug
