
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  background-color: #f8f8f8;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  background-color: #333;
  color: white;
  margin-top: 1.25rem;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  display: none;
}

nav.active {
  display: block;
  animation-name: fadeIn;
}

nav.hide {
  display: block;
  animation-name: fadeOut;
  animation-fill-mode: forwards;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

nav li a {
  display: block;
  padding: 1rem;
  color: white;
  text-decoration: none;
}

a{
  text-decoration: none;
  color: #333;
}

.breadcrumbs {
  padding: 10px;
  font-size: 0.9em;
}

.breadcrumbs span {
  margin-right: 5px;
}

.breadcrumbs a {
  color: #007bff;
  text-decoration: none;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}


.top-bar {
  margin-top: 1.25rem;
  padding: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.top-bar span {
  font-size: 1.5rem; 
}

.top-bar i.fa {
  font-size: 1.5rem;
}

.search-bar {
  margin-top: 0.625rem;
  height: auto;
  transition: height 0.3s ease;
  width: 60%;
  padding: 1rem;
  border: 1px solid #333;
  border-radius: 0.3125rem;
  background-color: #f8f8f8;
  color: #333;
  font-size: 1rem;
}

.search-submit-icon {
  font-size: 1.2rem;
  margin-left: 0.625rem;
  margin-top: 0.625rem;
}

.search-wrapper.active {
  display: flex;
}

.search-icon {
  cursor: pointer;
}

.search-wrapper {
  display: none;
  align-items: center;
  justify-content: center;
  width: auto;
}

.search-form {
  width: 80%;
  display: flex;
  justify-content: center;
}

@keyframes fadeIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
    display: none;
  }
}

.features-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  margin: 0.625rem;
}

.feature {
  margin: 0.3125rem;
  width: 30%;
  padding: 1rem;
  border: 1px solid #333;
  border-radius: 0.3125rem;
  background-color: #f8f8f8;
  color: #333;
  font-size: 0.9375rem;
}

.feature i.fa {
  font-size: 1.5rem;
  margin-bottom: 0.625rem;
}

.feature p {
  white-space: normal;
  word-wrap: break-word;
}

.newsletter {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 0.6rem;
}

.newsletter input[type="email"] {
  width: 60%;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 10px;
}

.newsletter button[type="submit"] {
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease;
}

.newsletter button[type="submit"]::before {
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1rem;
  margin-right: 5px;
}

.newsletter button[type="submit"]:hover {
  background-color: #555;
}

.footer-bottom {
  font-size: 0.7rem;
  text-align: center;
}

.main-content{
  margin-top: 1rem;
  padding: 0.6rem;
  text-align: center;
}

.main-content h1{
  font-size: 4.5vw;
}

.main-content h2{
  font-size: 4vw;
}

.main-content p{
  font-size: 3vw;
}

.home-img{
  
  display: block;
  width: 85%;
  margin: 0 auto;
  border: 1px solid #333;
  border-radius: 0.3125rem;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product-card {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  font-size: 1.2rem;
}

.card-text {
  font-size: 1rem;
}

input[type="number"] {
  width: 50%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem; 
}

input[type="number"]:focus {
  outline: none;
  border-color: #007bff; 
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); 
}


.add-to-cart {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: #0056b3;
}

 
.cart-container {
  display: flex;
  flex-direction: column;
}


.cart-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  padding: 1em;
}

.cart-item-image {
  max-width: 100%;
  height: auto;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
}

.cart-summary {
  border-top: 1px solid #ccc;
  padding-top: 1em;
}

.cart-total-title {
  font-size: 1.5em;
}

.cart-total-price {
  font-size: 1.5em;
  color: #333;
}

.cart-checkout-button {
  display: inline-block;
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  margin-top: 1em;
}

.cart-item button {
  background-color: #ff4444;
  color: white;
  border: none;
  padding: 0.5em 1em;
  margin-top: 0.5em;
  cursor: pointer;
}

.cart-item button:hover {
  background-color: #ff0000;
}

.checkout-form {
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.checkout-form-input,
.checkout-form-button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  box-sizing: border-box;
}

.checkout-form-input {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.checkout-form-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.checkout-form-button:hover {
  background-color: #0056b3;
}

.order-success-message {
  text-align: center;
  padding: 2em;
  margin-top: 2em;
}

.order-home-button {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  margin-top: 1em;
  transition: background-color 0.2s;
}

.order-home-button:hover {
  background-color: #0056b3;
}

@media (min-width: 48rem) {
  body {
    max-width: 60rem;
    margin: auto;
  }
}

@media (min-width:1048px) {
  i.fa.fa-bars{
    display: none;
  }
  .top-bar {
    justify-content: right;
  }
  .top-bar span {
    margin-right: 30vw;
  }
  .top-bar i.fa {
    margin-right: 50px;
  }
  nav{
    display: block;
  }
  nav ul {
    flex-direction: row;
    justify-content: space-around;
  }
  .home-img{
    width: 100%;
  }
  .main-content h1{
    font-size: 2.5vw;
  }
  
  .main-content h2{
    font-size: 2vw;
  }
  
  .main-content p{
    font-size: 1vw;
  }
  .features-section {
    flex-wrap: nowrap;
  }
  .cart-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .cart-items {
    flex: 2;
  }

  .cart-item {
    flex-direction: row;
    align-items: center;
  }

  .cart-item-details {
    margin-left: 1em;
  }

  .cart-summary {
    flex: 1;
    border-top: none;
    padding-top: 0;
  }

  .cart-checkout-button {
    width: 100%;
    max-width: 200px;
  }
}